@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bottom-shadow {
  box-shadow: 0 1px 0 #ffffff1a;
}

.animation-bg {
  background-image: linear-gradient(rgba(12, 13, 17, 0.7), rgba(15, 18, 29, 0.7)), url(../assets/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar-bg {
  background-image: linear-gradient(rgba(12, 13, 17, 0.7), rgba(15, 18, 29, 0.7)), url(../assets/navbar-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-bg {
  background-image: linear-gradient(rgba(12, 13, 17, 0.7), rgba(15, 18, 29, 0.7)), url(../assets/about.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swipe-card{
  animation-name: card;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes card {
  0%{
    transform: translateX(-5px);
  }
  33%{
    transform: translateX(5px);
  }
  66%{
    transform: translateX(5px);
  }
  100%{
    transform: translateX(-5px);
  }
}